

.boton-volver {
    background-color : #ffc107;
    outline : 0;
    border : 0;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 20px;
}

.boton-elimina {
    background: #dc3545;
    outline : 0;
    border : 0;
    color: white;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.boton-verde {
    background : #28a745;    
    outline : 0;
    border : 0;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin: 5px;

}

.boton-azul {
  background-color: #3F61BF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boton-azul:hover {
  background-color: #062D50;
}

.boton-confirma {
    background: #007bff;
    outline : 0;
    border : 0;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin: 5px;
}

.boton-simple {
    background: #615F67;
    outline : 0;
    border : 0;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin: 5px;
}

table {
    border-collapse: collapse;
    float:left;
    margin: 15px;
        
}

table td, th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;  
}

table tr:hover {
    background-color:#f5f5f5;
}

h1 { 
    color: green;
    font-size: 33px;
}

h2 { 
    color: black;
    font-size: 24px;
}

.texto-resaltado {
    font-weight: bold;
}

span {
     cursor:pointer;
     color:blue;
     text-decoration:underline;
}


.block {
  display: block;
  width: 30%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}

.navbar {
  overflow: hidden;
  background-color: #34344c;
  width: 40%;
  text-align: center;
  border: 1px;
}

.navbar span {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 7px 13px;
  text-decoration: none;
}

.navbar span:hover {
  background-color: red;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.volver-relleno {
  background-color : #ffc107;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;

}
.volver-relleno:hover{
    background-color:#e6ac00
    }
    
body {
  height: 100%;
  width: 100%;
  background: #e9e9e9;
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #010b26;
}

* {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.intro {
  text-align: center;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, p {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #6ABCEA;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie-card {
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 315px;
  margin: 2em;
  border-radius: 10px;
  display: inline-block;
}

.movie-header {
  padding: 0;
  margin: 0;
  height: 367px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header-icon-container {
  position: relative;
}

.header-icon {
  width: 100%;
  height: 367px;
  line-height: 367px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  color: #ffffff;
  font-size: 54px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
  opacity: .85;
}

.header-icon:hover {
  background: rgba(0, 0, 0, 0.15);
  font-size: 74px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 1;
}

.movie-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.movie-content {
  padding: 18px 18px 24px 18px;
  margin: 0;
}

.movie-content-header, .movie-info {
  display: table;
  width: 100%;
}

.movie-title {
  font-size: 24px;
  margin: 0;
  display: table-cell;
}

.pochoclo-logo {
  width: 30px;
  height: 30px;
  background: url("https://raw.githubusercontent.com/RosyRivas/Proyecto-POO2-2019/master/Iteracion%202/Logo/popcorn%202.png") no-repeat;
  background-size: contain;
  display: table-cell;
  float: right;
  position: relative;
  margin-top: 5px;
}

.movie-info {
  margin-top: 1em;
}

.info-section {
  display: table-cell;
  text-transform: uppercase;
  text-align: center;
}

.info-section:first-of-type {
  text-align: left;
}

.info-section:last-of-type {
  text-align: right;
}

.info-section label {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: .5em;
  font-size: 9px;
}

.info-section span {
  font-weight: 700;
  font-size: 11px;
}

@media screen and (max-width: 500px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
    margin: 1em;
    display: block;
  }

  .container {
    padding: 0;
    margin: 0;
  }
  }