
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.boton-nuevo {
    background-color : #ffc107;
    outline : 0;
    border : 0;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 20px;
}

.boton-elimina {
    background: #dc3545;
    outline : 0;
    border : 0;
    color: white;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.boton-verde {
    background : #28a745;    
    outline : 0;
    border : 0;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.boton-confirma {
    background: #007bff;
    outline : 0;
    border : 0;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin: 5px;
}

.boton-simple {
    background: #615F67;
    outline : 0;
    border : 0;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin: 5px;
}

table {
    border-collapse: collapse;
    float:left;
    margin: 15px;
        
}

table td, th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;  
}

table tr:hover {
    background-color:#f5f5f5;
}



h1 { 
    color: green;
    font-size: 24px;
}

h2 { 
    color: black;
    font-size: 24px;
}

.texto-resaltado {
    font-weight: bold;
}


div {
    
}

span {
     cursor:pointer;
     color:blue;
     text-decoration:underline;
}

